.mainintro_frame {
  /* max-width: 1200px; */
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.mainintro_img_box {
  display: inline-flex;
  width: calc(50% - 20px);
  height: 600px;
  /* border: 1px solid white; */
  box-sizing: border-box;
  /* text-align: center;
  line-height: 600px; */
  /* background-color: red; */
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.mainintro_desc {
  display: inline-flex;
  width: calc(50% - 20px);
  height: 600px;
  /* border: 1px solid white; */
  box-sizing: border-box;
  /* text-align: center;
  line-height: 600px; */
  justify-content: center;
  align-items: center;
  /* background-color: blue; */
  vertical-align: top;
  margin: 10px;
  color: white;
}

.mainintro_text {
  font-size: 1.5em;
  width: 85%;
  line-height: 2em;
}
