/* Slideshow */

.slideshow {
  margin: 50px auto;
  overflow: hidden;
  /* max-width: 1000px; */
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
  margin: 2% 0;
}

.slide {
  display: inline-block;
  /* height: 150px; */
  width: calc(100%);
  /* border-radius: 40px; */
  /* border: 5px solid; */
}

.slide_img {
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide_desc {
  display: inline-block;
  width: 50%;
  white-space: initial;
}

/* Buttons */

.slideshowDots {
  text-align: center;
}

.slideshowDot {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  cursor: pointer;
  margin: 15px 7px 0px;
  background-color: #c4c4c4;
}

.slideshowDot.active {
  background-color: #6a0dad;
}

.grid {
  margin: 2% 2%;
  display: inline-block;
  height: 150px;
  width: calc(84% / 4);
  /* border-radius: 40px; */
  /* border: 5px solid; */
}

.grid:last-child {
  display: none;
}

.container {
  margin: 50px auto;
  width: 1240px;
  background: white;
  border: 1px solid #e9e9e9;
}
