.recipegrid_frame {
  display: flex;
  flex: 0 0 1;
  width: 25%;
  height: 33%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: solid 1px black;
}

.recipegrid_img {
  height: fit-content;
  width: fit-content;
}

.recipegrid_img_box {
  flex: 4 0 0;
  width: 80%;
}

.recipegrid_desc {
  height: 20%;
  display: flex;
  flex: 1 0 0;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.recipegrid_data {
  flex: 1 0 1;
}
